/*----------------------------------------------------
@File: Default Styles
@Author: UOSdesign

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */
/*=====================================================================
@Template Name: BIO
@Developed By: UOSdesign
=====================================================================*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* big desktop :1500px. */
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,800&display=swap");
/* line 4, F:/themeforest/HTML/scss/_reset.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #000;
}

/* line 10, F:/themeforest/HTML/scss/_reset.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 14, F:/themeforest/HTML/scss/_reset.scss */
a,
.button,
button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 19, F:/themeforest/HTML/scss/_reset.scss */
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

/* line 24, F:/themeforest/HTML/scss/_reset.scss */
a:focus {
  text-decoration: none;
}

/* line 27, F:/themeforest/HTML/scss/_reset.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

/* line 34, F:/themeforest/HTML/scss/_reset.scss */
input:focus,
button:focus {
  outline: none;
}

/* line 37, F:/themeforest/HTML/scss/_reset.scss */
a,
button {
  color: #fff;
  outline: medium none;
}

/* line 42, F:/themeforest/HTML/scss/_reset.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  color: #1c1c1c;
}

/* line 46, F:/themeforest/HTML/scss/_reset.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 55, F:/themeforest/HTML/scss/_reset.scss */
h4 {
  font-size: 20px;
}

/* line 58, F:/themeforest/HTML/scss/_reset.scss */
h5 {
  font-size: 18px;
}

/* line 61, F:/themeforest/HTML/scss/_reset.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 65, F:/themeforest/HTML/scss/_reset.scss */
li {
  list-style: none;
}

/* line 68, F:/themeforest/HTML/scss/_reset.scss */
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #bebebe;
  margin-bottom: 13px;
  font-family: "Montserrat", sans-serif;
}

/* line 77, F:/themeforest/HTML/scss/_reset.scss */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 83, F:/themeforest/HTML/scss/_reset.scss */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 88, F:/themeforest/HTML/scss/_reset.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 93, F:/themeforest/HTML/scss/_reset.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 98, F:/themeforest/HTML/scss/_reset.scss */
*::-webkit-input-placeholder {
  color: #ececec;
  font-size: 14px;
  opacity: 1;
}

/* line 103, F:/themeforest/HTML/scss/_reset.scss */
*:-ms-input-placeholder {
  color: #ececec;
  font-size: 14px;
  opacity: 1;
}

/* line 108, F:/themeforest/HTML/scss/_reset.scss */
*::-ms-input-placeholder {
  color: #ececec;
  font-size: 14px;
  opacity: 1;
}

/* line 113, F:/themeforest/HTML/scss/_reset.scss */
*::placeholder {
  color: #ececec;
  font-size: 14px;
  opacity: 1;
}

/* button style */
/* line 121, F:/themeforest/HTML/scss/_reset.scss */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 11px;
  left: 0px;
  line-height: 11px;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 24px;
  font-size: 20px;
  color: #c7cfd2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  right: 0;
  top: -100px;
  left: auto;
}

@media (max-width: 575.98px) {
  /* line 121, F:/themeforest/HTML/scss/_reset.scss */
  .owl-carousel .owl-nav div {
    top: -80px;
  }
}

/* line 152, F:/themeforest/HTML/scss/_reset.scss */
.owl-carousel .owl-nav div.owl-prev {
  left: auto;
  right: 40px;
}

/* line 160, F:/themeforest/HTML/scss/_reset.scss */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 163, F:/themeforest/HTML/scss/_reset.scss */
.owl-carousel:hover .owl-nav div:hover {
  color: #34d196;
}

/* line 172, F:/themeforest/HTML/scss/_reset.scss */
.mb-85 {
  margin-bottom: 85px;
}

@media (max-width: 575.98px) {
  /* line 172, F:/themeforest/HTML/scss/_reset.scss */
  .mb-85 {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 172, F:/themeforest/HTML/scss/_reset.scss */
  .mb-85 {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* line 172, F:/themeforest/HTML/scss/_reset.scss */
  .mb-85 {
    margin-bottom: 40px;
  }
}

/* line 184, F:/themeforest/HTML/scss/_reset.scss */
.mb-65 {
  margin-bottom: 65px;
}

@media (max-width: 575.98px) {
  /* line 184, F:/themeforest/HTML/scss/_reset.scss */
  .mb-65 {
    margin-bottom: 20px;
  }
}

/* line 190, F:/themeforest/HTML/scss/_reset.scss */
.mt-80 {
  margin-top: 80px;
}

/* line 194, F:/themeforest/HTML/scss/_reset.scss */
.mb-40 {
  margin-bottom: 40px !important;
}

/* line 197, F:/themeforest/HTML/scss/_reset.scss */
.mb_12 {
  margin-bottom: 12px;
}

/* line 200, F:/themeforest/HTML/scss/_reset.scss */
.mb_20 {
  margin-bottom: 20px;
}

/* line 203, F:/themeforest/HTML/scss/_reset.scss */
.mb_15 {
  margin-bottom: 15px;
}

/* line 206, F:/themeforest/HTML/scss/_reset.scss */
.mb_25 {
  margin-bottom: 25px;
}

/* line 209, F:/themeforest/HTML/scss/_reset.scss */
#back-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  z-index: 9999999;
  display: none;
}

/* line 216, F:/themeforest/HTML/scss/_reset.scss */
#back-top a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  display: block;
  color: #fff;
  line-height: 40px;
  background: #34d196;
  font-size: 15px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(52, 209, 150, 0.2);
  -moz-box-shadow: 0px 10px 20px 0px rgba(52, 209, 150, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(52, 209, 150, 0.2);
}

/* line 233, F:/themeforest/HTML/scss/_reset.scss */
.mb_60 {
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  /* line 233, F:/themeforest/HTML/scss/_reset.scss */
  .mb_60 {
    margin-bottom: 35px;
  }
}

/* line 239, F:/themeforest/HTML/scss/_reset.scss */
.mb_50 {
  margin-bottom: 50px;
}

@media (max-width: 575.98px) {
  /* line 239, F:/themeforest/HTML/scss/_reset.scss */
  .mb_50 {
    margin-bottom: 30px;
  }
}

/* line 246, F:/themeforest/HTML/scss/_reset.scss */
.section_padding {
  padding: 100px 0;
}

@media (max-width: 575.98px) {
  /* line 246, F:/themeforest/HTML/scss/_reset.scss */
  .section_padding {
    padding: 50px 0;
  }
}

/* line 252, F:/themeforest/HTML/scss/_reset.scss */
.theme_color {
  color: #34d196;
}

/* line 257, F:/themeforest/HTML/scss/_reset.scss */
.font_12 {
  font-size: 12px;
}

/* line 260, F:/themeforest/HTML/scss/_reset.scss */
.font_13 {
  font-size: 13px;
}

/* line 263, F:/themeforest/HTML/scss/_reset.scss */
.font_14 {
  font-size: 14px;
}

/* line 266, F:/themeforest/HTML/scss/_reset.scss */
.font_15 {
  font-size: 15px;
}

/* line 269, F:/themeforest/HTML/scss/_reset.scss */
.font_16 {
  font-size: 16px;
}

/* line 272, F:/themeforest/HTML/scss/_reset.scss */
.font_17 {
  font-size: 17px;
}

/* line 275, F:/themeforest/HTML/scss/_reset.scss */
.font_18 {
  font-size: 18px;
}

/* line 278, F:/themeforest/HTML/scss/_reset.scss */
.font_19 {
  font-size: 19px;
}

/* line 281, F:/themeforest/HTML/scss/_reset.scss */
.font_20 {
  font-size: 20px;
}

/* line 284, F:/themeforest/HTML/scss/_reset.scss */
.font_21 {
  font-size: 21px;
}

/* line 287, F:/themeforest/HTML/scss/_reset.scss */
.font_22 {
  font-size: 22px;
}

/* line 290, F:/themeforest/HTML/scss/_reset.scss */
.font_30 {
  font-size: 30px;
}

/* line 295, F:/themeforest/HTML/scss/_reset.scss */
.f_w_300 {
  font-weight: 300;
}

/* line 298, F:/themeforest/HTML/scss/_reset.scss */
.f_w_400 {
  font-weight: 400;
}

/* line 301, F:/themeforest/HTML/scss/_reset.scss */
.f_w_500 {
  font-weight: 500;
}

/* line 304, F:/themeforest/HTML/scss/_reset.scss */
.f_w_600 {
  font-weight: 600;
}

/* line 307, F:/themeforest/HTML/scss/_reset.scss */
.f_w_700 {
  font-weight: 700;
}

/* line 310, F:/themeforest/HTML/scss/_reset.scss */
.f_w_800 {
  font-weight: 800;
}

@media (max-width: 991px) {
  /* line 314, F:/themeforest/HTML/scss/_reset.scss */
  br {
    display: none;
  }
}

@media (min-width: 1400px) {
  /* line 320, F:/themeforest/HTML/scss/_reset.scss */
  .container {
    max-width: 1310px;
  }
}

/* line 326, F:/themeforest/HTML/scss/_reset.scss */
.card-inner {
  color: #fff;
}

/* line 330, F:/themeforest/HTML/scss/_reset.scss */
.bio_section {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  top: 0px;
}

/* line 336, F:/themeforest/HTML/scss/_reset.scss */
.bio_section.banner_area {
  top: 0;
}

/* line 339, F:/themeforest/HTML/scss/_reset.scss */
.bio_section.hidden {
  opacity: 97px;
  visibility: hidden;
  display: none !important;
}

/* line 347, F:/themeforest/HTML/scss/_reset.scss */
.mt-100 {
  margin-top: 100px;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* line 1, F:/themeforest/HTML/scss/_btn.scss */
.theme_button {
  background: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  color: #34d196;
  font-weight: 600;
  padding: 15px 31px;
  border: 1px solid #34d196;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 575.98px) {
  /* line 1, F:/themeforest/HTML/scss/_btn.scss */
  .theme_button {
    padding: 12px 30px;
  }
}

/* line 15, F:/themeforest/HTML/scss/_btn.scss */
.theme_button:hover {
  color: #ececec;
  border-color: #34d196;
  background: #34d196;
}

/* line 22, F:/themeforest/HTML/scss/_btn.scss */
.theme_button2 {
  background: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  color: #bebebe;
  font-weight: 600;
  padding: 15px 31px;
  border: 1px solid #2e2e2e;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  /* line 22, F:/themeforest/HTML/scss/_btn.scss */
  .theme_button2 {
    padding: 12px 30px;
  }
}

/* line 35, F:/themeforest/HTML/scss/_btn.scss */
.theme_button2:hover {
  color: #ececec;
  border-color: #34d196;
  background: #34d196;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* line 2, F:/themeforest/HTML/scss/_title.scss */
.verticalbar {
  background: #34d196;
  width: 5px;
  height: 60px;
  margin-right: 20px;
}

/* line 9, F:/themeforest/HTML/scss/_title.scss */
.section_title h3 {
  font-size: 20px;
  font-weight: 500;
  color: #ececec;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* line 19, F:/themeforest/HTML/scss/_title.scss */
.section_title_two h3 {
  font-size: 30px;
  font-weight: 500;
  color: #ececec;
  margin-bottom: 0;
  text-transform: capitalize;
  margin-bottom: 15px;
}

/* line 27, F:/themeforest/HTML/scss/_title.scss */
.section_title_two p {
  font-size: 14px;
  color: #bebebe;
  font-weight: 400;
  line-height: 28px;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
@media (max-width: 1200px) {
  /* line 3, F:/themeforest/HTML/scss/_animation.scss */
  [class*="hero-ani-"] {
    display: none !important;
  }
}

/* line 8, F:/themeforest/HTML/scss/_animation.scss */
.amination_custom {
  backface-visibility: hidden;
  animation: jumping 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 0.9s ease 5s;
  user-select: none;
}

/* line 16, F:/themeforest/HTML/scss/_animation.scss */
.amination_custom2 {
  backface-visibility: hidden;
  animation: jumping2 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 1s ease 3s;
  user-select: none;
}

/* line 24, F:/themeforest/HTML/scss/_animation.scss */
.amination_custom3 {
  backface-visibility: hidden;
  animation: jumping3 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 7s ease 2s;
  user-select: none;
}

/* line 32, F:/themeforest/HTML/scss/_animation.scss */
.amination_custom4 {
  backface-visibility: hidden;
  animation: jumping4 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none;
}

/* line 40, F:/themeforest/HTML/scss/_animation.scss */
.amination_custom10 {
  backface-visibility: hidden;
  animation: jumping10 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none;
}

/* line 48, F:/themeforest/HTML/scss/_animation.scss */
.amination_custom11 {
  backface-visibility: hidden;
  animation: jumping11 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none;
}

@keyframes jumping {
  0% {
    transform: translateY(0px) translateX(0) rotate(0) scale(1);
    opacity: 0.8;
  }
  25% {
    transform: translateY(-10px) translateX(-10px) rotate(20deg) scale(0.8);
    opacity: 0.9;
  }
  50% {
    transform: translateY(-15px) translateX(-15px) rotate(10deg) scale(0.9);
    opacity: 0.8;
  }
  75% {
    transform: translateY(-20px) translateX(-20px) rotate(20deg) scale(0.75);
    opacity: 0.6;
  }
  85% {
    transform: translateY(-25px) translateX(-25px) rotate(20deg) scale(0.9);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-15px) translateX(-15px) rotate(0) scale(0.95);
    opacity: 0.85;
  }
}

@keyframes jumping2 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0) scale(1);
    opacity: 0.5;
  }
  25% {
    transform: translateY(-30px) translateX(10px) rotate(20deg) scale(0.8);
    opacity: 0.8;
  }
  50% {
    transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.7);
    opacity: 0.8;
  }
  75% {
    transform: translateY(30px) translateX(20px) rotate(20deg) scale(0.75);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-15px) translateX(15px) rotate(0) scale(0.75);
    opacity: 0.9;
  }
}

@keyframes jumping3 {
  0% {
    transform: translateY(10px) translateX(0) rotate(0) scale(1);
    opacity: 0.9;
  }
  20% {
    transform: translateY(20px) translateX(10px) rotate(-20deg) scale(0.8);
    opacity: 0.8;
  }
  40% {
    transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.75);
    opacity: 0.8;
  }
  40% {
    transform: translateY(-15px) translateX(-25px) rotate(10deg) scale(0.5);
    opacity: 1;
  }
  80% {
    transform: translateY(-30px) translateX(20px) rotate(-20deg) scale(0.75);
    opacity: 0.6;
  }
  100% {
    transform: translateY(15px) translateX(15px) rotate(0) scale(0.95);
    opacity: 0.7;
  }
}

@keyframes jumping4 {
  0% {
    transform: translateY(-30px) translateX(20px) rotate(0) scale(1.2);
    opacity: 0.7;
  }
  25% {
    transform: translateY(-20px) translateX(10px) rotate(50deg) scale(0.6);
    opacity: 0.8;
  }
  50% {
    transform: translateY(15px) translateX(-15px) rotate(20deg) scale(0.5);
    opacity: 0.9;
  }
  75% {
    transform: translateY(30px) translateX(20px) rotate(50deg) scale(0.75);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-15px) translateX(15px) rotate(0) scale(0.5);
    opacity: 0.9;
  }
}

@keyframes jumping10 {
  0% {
    transform: rotate(180deg);
    display: block;
  }
  100% {
    transform: rotate(30deg);
    display: block;
  }
}

@keyframes jumping11 {
  0% {
    transform: rotate(180deg) translate(-20px, 20px);
    display: block;
  }
  100% {
    transform: rotate(30deg) translate(0px, 0px);
    display: block;
  }
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* line 1, F:/themeforest/HTML/scss/_header.scss */
.header_area {
  padding: 20px 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* line 8, F:/themeforest/HTML/scss/_header.scss */
.header_area.header_static {
  position: relative;
  padding: 0px 35px 0 35px;
}

@media (max-width: 575.98px) {
  /* line 8, F:/themeforest/HTML/scss/_header.scss */
  .header_area.header_static {
    padding: 10px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 8, F:/themeforest/HTML/scss/_header.scss */
  .header_area.header_static {
    padding: 10px 0px;
  }
}

@media (max-width: 575.98px) {
  /* line 1, F:/themeforest/HTML/scss/_header.scss */
  .header_area {
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 1, F:/themeforest/HTML/scss/_header.scss */
  .header_area {
    padding: 30px;
  }
}

/* line 25, F:/themeforest/HTML/scss/_header.scss */
.header_area .header__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

/* line 29, F:/themeforest/HTML/scss/_header.scss */
.header_area .header__wrapper .header__left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

@media (max-width: 575.98px) {
  /* line 29, F:/themeforest/HTML/scss/_header.scss */
  .header_area .header__wrapper .header__left {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 29, F:/themeforest/HTML/scss/_header.scss */
  .header_area .header__wrapper .header__left {
    display: none;
  }
}

/* line 38, F:/themeforest/HTML/scss/_header.scss */
.header_area .header__wrapper .header__left .menu__quick__links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: 60px;
}

/* line 41, F:/themeforest/HTML/scss/_header.scss */
.header_area .header__wrapper .header__left .menu__quick__links ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

/* line 45, F:/themeforest/HTML/scss/_header.scss */
.header_area .header__wrapper .header__left .menu__quick__links ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #ececec;
}

/* line 50, F:/themeforest/HTML/scss/_header.scss */
.header_area
  .header__wrapper
  .header__left
  .menu__quick__links
  ul
  li:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 767.98px) {
  /* line 59, F:/themeforest/HTML/scss/_header.scss */
  .header_area .main_menu {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  /* line 63, F:/themeforest/HTML/scss/_header.scss */
  .header_area .main_menu .nav {
    justify-content: center !important;
  }
}

/* line 70, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li {
  display: inline-block;
  position: relative;
}

/* line 73, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li:not(:last-child) {
  margin-right: 37px;
}

@media (max-width: 575.98px) {
  /* line 73, F:/themeforest/HTML/scss/_header.scss */
  .header_area .main_menu ul li:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 73, F:/themeforest/HTML/scss/_header.scss */
  .header_area .main_menu ul li:not(:last-child) {
    margin-right: 20px;
  }
}

/* line 82, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li a {
  color: #ececec;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  padding: 8px 0;
}

/* line 91, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li a.active::before,
.header_area .main_menu ul li a:hover::before {
  opacity: 1;
}

/* line 95, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li a::before {
  position: absolute;
  content: "";
  width: 100%;
  background: #ececec;
  height: 1px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

/* line 106, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li a:hover {
  color: #ececec;
}

/* line 110, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li.active a::before {
  opacity: 1;
}

/* line 113, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li:hover a::before {
  opacity: 1;
}

/* line 117, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li .submenu {
  width: 200px;
  position: absolute;
  left: 0;
  top: 120%;
  background: #fff;
  text-align: left;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 128, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li .submenu li {
  display: block;
  margin: 0;
}

/* line 132, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li .submenu li a {
  font-size: 15px;
  line-height: 1.33;
  color: #505050;
  padding: 0;
  font-weight: 400;
  display: block;
  margin: 0;
  padding: 11px 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  text-transform: capitalize;
  left: 0;
}

/* line 145, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li .submenu li a:hover {
  left: 5px;
  color: #34d196;
}

/* line 153, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li:hover > a {
  color: #ececec;
}

/* line 156, F:/themeforest/HTML/scss/_header.scss */
.header_area .main_menu ul li:hover .submenu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

/* line 165, F:/themeforest/HTML/scss/_header.scss */
.header_area.navbar_fixed {
  background: #000000;
  z-index: 90;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* line 1, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_menu .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  padding-bottom: 3px;
  position: absolute;
  top: 0px;
}

/* line 9, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_nav a {
  font-size: 14px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
}

/* line 17, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 9.5px 15px;
  margin: 0;
}

/* line 22, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_arrow {
  position: absolute;
  right: 0;
  width: 40px;
  height: 37px;
  text-align: center;
  line-height: 40px;
  top: 0;
}

/* line 31, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_nav li {
  display: block;
  border-bottom: none;
  position: relative;
}

/* line 37, F:/themeforest/HTML/scss/_mobile_menu.scss */
.mobile_menu .slicknav_nav ul.submenu {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #f7f7f7;
}

/* line 44, F:/themeforest/HTML/scss/_mobile_menu.scss */
.mobile_menu .slicknav_nav ul.submenu li a {
  font-size: 16px;
}

/* line 49, F:/themeforest/HTML/scss/_mobile_menu.scss */
.mobile_menu .slicknav_nav .slicknav_arrow {
  margin: 0;
}

/* line 54, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_nav .slicknav_row:hover {
  color: #34d196;
}

/* line 57, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_nav a:hover {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
  color: #34d196;
}

/* line 65, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_menu .slicknav_icon-bar {
  background-color: #363e51;
  height: 2px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 25px;
  position: relative;
}

/* line 75, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_menu .slicknav_icon {
  margin-right: 0px;
}

/* line 78, F:/themeforest/HTML/scss/_mobile_menu.scss */
.mobile_menu {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 9999999;
}

/* line 84, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_btn {
  right: 4px;
  top: 11px;
}

/* line 88, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_nav {
  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0 5px 7px 0 rgba(13, 0, 36, 0.07);
  padding: 15px 6px;
  margin-top: 10px;
}

/* line 95, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 6.5px 20px;
  margin: 0;
}

/* line 99, F:/themeforest/HTML/scss/_mobile_menu.scss */
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 6.5px 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

/*----------------------------------------------------*/
/* ---------------------------------- menu animation ---------------------------------- */
/* line 1, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn {
  padding: 0px;
  border: 0px;
}

/* line 6, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn .slicknav_icon-bar {
  background-color: #ececec;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: block;
  width: 22px;
  height: 2px;
}

/* line 16, F:/themeforest/HTML/scss/_menu_animation.scss */
.home_2 .slicknav_btn .slicknav_icon-bar {
  background-color: #4543de;
}

/* line 20, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 5px;
}

/* line 24, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn .slicknav_icon-bar:nth-child(2) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 31, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 37, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn .slicknav_icon-bar:nth-child(3) {
  opacity: 1;
}

/* line 42, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(3) {
  opacity: 0;
}

/* line 46, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn .slicknav_icon-bar:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0;
}

/* line 53, F:/themeforest/HTML/scss/_menu_animation.scss */
.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
  position: relative;
}

/* ---------------------------------- footer ---------------------------------- */
/* line 1, F:/themeforest/HTML/scss/_footer.scss */
.footer_wrapper {
  background: #000000;
  padding: 32px 0;
}

/* line 7, F:/themeforest/HTML/scss/_footer.scss */
.social_media_links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 12, F:/themeforest/HTML/scss/_footer.scss */
.social_media_links ul li {
  display: inline-block;
}

/* line 14, F:/themeforest/HTML/scss/_footer.scss */
.social_media_links ul li a {
  display: inline-block;
  font-size: 14px;
  color: #bebebe;
  font-weight: 400;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0);
  transition: 0.3s;
  padding: 5px 16px;
  margin: 5px 3px;
  white-space: nowrap;
}

/* line 25, F:/themeforest/HTML/scss/_footer.scss */
.social_media_links ul li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

/* line 34, F:/themeforest/HTML/scss/_footer.scss */
.social_media_links2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 39, F:/themeforest/HTML/scss/_footer.scss */
.social_media_links2 ul li {
  display: inline-block;
}

/* line 41, F:/themeforest/HTML/scss/_footer.scss */
.social_media_links2 ul li a {
  display: inline-block;
  font-size: 14px;
  color: #bebebe;
  font-weight: 400;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  padding: 5px 16px;
  margin: 5px 3px;
  white-space: nowrap;
}

/* line 52, F:/themeforest/HTML/scss/_footer.scss */
.social_media_links2 ul li a:hover {
  color: #fff;
  background: #34d196;
}

/* ---------------------------------- banner ---------------------------------- */
/* line 1, F:/themeforest/HTML/scss/_banner.scss */
.banner_bg_1 {
  background-image: url(../img/banner/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 6, F:/themeforest/HTML/scss/_banner.scss */
.banner_bg_1::before {
  content: "";
  position: absolute;
  background: -moz-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4d000000',GradientType=1 );
  /* IE6-9 */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* line 23, F:/themeforest/HTML/scss/_banner.scss */
.banner_area {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

/* line 30, F:/themeforest/HTML/scss/_banner.scss */
.banner_area .banner_inner {
  position: relative;
}

/* line 38, F:/themeforest/HTML/scss/_banner.scss */
.banner_area .banner_inner .banner_text h1 {
  font-size: 60px;
  font-weight: 600;
  color: #ececec;
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  /* line 38, F:/themeforest/HTML/scss/_banner.scss */
  .banner_area .banner_inner .banner_text h1 {
    font-size: 35px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 38, F:/themeforest/HTML/scss/_banner.scss */
  .banner_area .banner_inner .banner_text h1 {
    font-size: 40px;
  }
}

/* line 50, F:/themeforest/HTML/scss/_banner.scss */
.banner_area .banner_inner .banner_text h3 {
  font-size: 30px;
  font-weight: 500;
  color: #ececec;
  margin-top: 14px;
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  /* line 50, F:/themeforest/HTML/scss/_banner.scss */
  .banner_area .banner_inner .banner_text h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 50, F:/themeforest/HTML/scss/_banner.scss */
  .banner_area .banner_inner .banner_text h3 {
    font-size: 25px;
    margin-bottom: 30px;
  }
}

/* line 64, F:/themeforest/HTML/scss/_banner.scss */
.banner_area .banner_inner .banner_text h3 b {
  font-weight: 500;
}

/* line 72, F:/themeforest/HTML/scss/_banner.scss */
.social_links ul {
  display: flex;
}

/* line 75, F:/themeforest/HTML/scss/_banner.scss */
.social_links ul li:not(:last-child) {
  margin-right: 15px;
}

/* line 78, F:/themeforest/HTML/scss/_banner.scss */
.social_links ul li a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  color: #ececec;
  background: #707070;
  display: inline-block;
  text-align: center;
  line-height: 37px;
  font-size: 14px;
  color: #fff;
  transition: 0.3s;
}

/* line 90, F:/themeforest/HTML/scss/_banner.scss */
.social_links ul li a:hover {
  background: #34d196;
  color: #ececec;
}

/* ----------------------------------type ---------------------------------- */
/* line 2, F:/themeforest/HTML/scss/_type.scss */
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

/* line 7, F:/themeforest/HTML/scss/_type.scss */
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

/* line 14, F:/themeforest/HTML/scss/_type.scss */
.cd-words-wrapper b.is-visible {
  position: relative;
}

/* line 17, F:/themeforest/HTML/scss/_type.scss */
.no-js .cd-words-wrapper b {
  opacity: 0;
}

/* line 20, F:/themeforest/HTML/scss/_type.scss */
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* -------------------------------- 
  
  xtype 
  
  -------------------------------- */
/* line 29, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}

/* line 33, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}

/* line 49, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}

/* line 54, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #aebcb9;
}

/* line 57, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}

/* line 60, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type .cd-words-wrapper.selected b {
  color: #0d0d0d;
}

/* line 63, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type b {
  visibility: hidden;
}

/* line 66, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type b.is-visible {
  visibility: visible;
}

/* line 69, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}

/* line 73, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

/* -------------------------------- 
  
  xclip 
  
  -------------------------------- */
/* line 139, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.clip span {
  display: inline-block;
}

/* line 142, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

/* line 146, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

/* line 156, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.clip b {
  opacity: 0;
}

/* line 159, F:/themeforest/HTML/scss/_type.scss */
.cd-headline.clip b.is-visible {
  opacity: 1;
}

/* ---------------------------------- resume ---------------------------------- */
/* line 1, F:/themeforest/HTML/scss/_resume.scss */
.bio_about_area {
  background: #0c0c0c;
  padding: 100px 0 40px;
  margin: 80px 50px 0 50px;
}

@media (max-width: 1199.98px) {
  /* line 1, F:/themeforest/HTML/scss/_resume.scss */
  .bio_about_area {
    margin: 0;
    padding-top: 150px;
  }
}

/* line 9, F:/themeforest/HTML/scss/_resume.scss */
.bio_about_area .resume_about {
  display: grid;
  grid-template-columns: 227px auto;
  grid-gap: 70px;
  align-items: center;
}

@media (max-width: 575.98px) {
  /* line 9, F:/themeforest/HTML/scss/_resume.scss */
  .bio_about_area .resume_about {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 9, F:/themeforest/HTML/scss/_resume.scss */
  .bio_about_area .resume_about {
    grid-template-columns: 227px auto;
    grid-gap: 30px;
    align-items: flex-start !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 9, F:/themeforest/HTML/scss/_resume.scss */
  .bio_about_area .resume_about {
    align-items: flex-start !important;
    grid-gap: 30px;
  }
}

/* line 27, F:/themeforest/HTML/scss/_resume.scss */
.bio_about_area .resume_about .thumb img {
  width: 100%;
}

@media (max-width: 575.98px) {
  /* line 26, F:/themeforest/HTML/scss/_resume.scss */
  .bio_about_area .resume_about .thumb {
    margin-bottom: 30px;
  }
}

/* line 38, F:/themeforest/HTML/scss/_resume.scss */
.bio_about_area .resume_about .about_content > p {
  font-size: 16px;
  line-height: 28px;
  color: #bebebe;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 17px;
}

/* line 46, F:/themeforest/HTML/scss/_resume.scss */
.bio_about_area .resume_about .about_content .about_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

@media (max-width: 575.98px) {
  /* line 46, F:/themeforest/HTML/scss/_resume.scss */
  .bio_about_area .resume_about .about_content .about_info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 46, F:/themeforest/HTML/scss/_resume.scss */
  .bio_about_area .resume_about .about_content .about_info {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* line 56, F:/themeforest/HTML/scss/_resume.scss */
.bio_about_area .resume_about .about_content .about_info .single_info {
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  grid-gap: 15px;
}

/* line 61, F:/themeforest/HTML/scss/_resume.scss */
.bio_about_area .resume_about .about_content .about_info .single_info span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #34d196;
  white-space: nowrap;
}

/* line 68, F:/themeforest/HTML/scss/_resume.scss */
.bio_about_area .resume_about .about_content .about_info .single_info p {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #d5d5d5;
  margin-bottom: 0;
  white-space: nowrap;
}

/* line 82, F:/themeforest/HTML/scss/_resume.scss */
.common_title {
  background: #1a1a1a;
  display: block;
  padding: 18px 29px;
}

/* line 87, F:/themeforest/HTML/scss/_resume.scss */
.round_dot {
  width: 7px;
  height: 7px;
  background: #34d196;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  top: 5px;
}

/* line 98, F:/themeforest/HTML/scss/_resume.scss */
.round_dot2 {
  width: 9px;
  height: 9px;
  background: #34d196;
  border-radius: 50%;
}

/* line 103, F:/themeforest/HTML/scss/_resume.scss */
.round_dot2.opacity_20 {
  opacity: 0.2;
}

/* line 109, F:/themeforest/HTML/scss/_resume.scss */
.resume_main_wrap .single_resume .resume_content {
  position: relative;
  padding: 0 30px;
}

/* line 112, F:/themeforest/HTML/scss/_resume.scss */
.resume_main_wrap .single_resume .resume_content span {
  font-size: 14px;
  font-weight: 400;
  color: #bebebe;
}

/* line 117, F:/themeforest/HTML/scss/_resume.scss */
.resume_main_wrap .single_resume .resume_content h5 {
  color: #ececec;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 7px;
}

/* line 123, F:/themeforest/HTML/scss/_resume.scss */
.resume_main_wrap .single_resume .resume_content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
}

/* line 134, F:/themeforest/HTML/scss/_resume.scss */
.single_skill h6 {
  font-size: 14px;
  font-weight: 500;
  color: #ececec;
  margin-bottom: 15px;
}

/* line 142, F:/themeforest/HTML/scss/_resume.scss */
.single_laguage {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 25px;
  align-items: center;
  margin-bottom: 27px;
}

/* line 148, F:/themeforest/HTML/scss/_resume.scss */
.single_laguage h6 {
  font-size: 14px;
  font-weight: 500;
  color: #ececec;
  margin: 0;
}

/* line 154, F:/themeforest/HTML/scss/_resume.scss */
.single_laguage .lang_parcent {
  display: flex;
}

/* line 156, F:/themeforest/HTML/scss/_resume.scss */
.single_laguage .lang_parcent div {
  margin-right: 6px;
}

/* line 164, F:/themeforest/HTML/scss/_resume.scss */
.single_skill .skill_bar_title span {
  color: #ececec !important;
  display: inline-block;
  margin-bottom: 16px;
}

/* line 171, F:/themeforest/HTML/scss/_resume.scss */
.single_skill .single_bar .progress {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
}

/* line 178, F:/themeforest/HTML/scss/_resume.scss */
.single_skill .single_bar .progress .progress-bar {
  background: #34d196;
  border-radius: 30px;
}

/* line 187, F:/themeforest/HTML/scss/_resume.scss */
.barfiller {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
}

/* line 194, F:/themeforest/HTML/scss/_resume.scss */
.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  z-index: 1;
  border-radius: 30px;
}

/* line 202, F:/themeforest/HTML/scss/_resume.scss */
.barfiller .tipWrap {
  display: none;
}

/* line 205, F:/themeforest/HTML/scss/_resume.scss */
.barfiller .tip {
  margin-top: -34px;
  padding: 0;
  font-size: 14px;
  color: #ececec !important;
  left: 0px;
  font-weight: 400;
  position: absolute;
  z-index: 2;
  left: auto !important;
  right: 0 !important;
}

/* ---------------------------------- portfolio ---------------------------------- */
/* line 1, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_area {
  background: #0c0c0c;
  padding: 100px 0 100px 0;
  margin: 80px 50px 0 50px;
}

@media (max-width: 1199.98px) {
  /* line 1, F:/themeforest/HTML/scss/_portfolio.scss */
  .portfolio_area {
    margin: 0;
    padding-top: 150px;
  }
}

/* line 9, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_area .single_portfolio:not(:last-child) {
  margin-bottom: 70px;
}

@media (max-width: 575.98px) {
  /* line 9, F:/themeforest/HTML/scss/_portfolio.scss */
  .portfolio_area .single_portfolio:not(:last-child) {
    margin-bottom: 50px;
  }
}

/* line 17, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_area .single_portfolio .portfolio_thumb img {
  width: 100%;
}

/* line 21, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_area .single_portfolio .portfolio_content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 575.98px) {
  /* line 21, F:/themeforest/HTML/scss/_portfolio.scss */
  .portfolio_area .single_portfolio .portfolio_content {
    flex-direction: column;
  }
}

/* line 29, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_area
  .single_portfolio
  .portfolio_content
  .portfolio_content_left
  h2 {
  font-size: 30px;
  color: #ececec;
  font-weight: 500;
  margin-bottom: 12px;
}

@media (max-width: 575.98px) {
  /* line 29, F:/themeforest/HTML/scss/_portfolio.scss */
  .portfolio_area
    .single_portfolio
    .portfolio_content
    .portfolio_content_left
    h2 {
    font-size: 25px;
  }
}

/* line 38, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_area .single_portfolio .portfolio_content .portfolio_content_left p {
  color: #bebebe;
  font-weight: 400;
  line-height: 28px;
}

@media (max-width: 575.98px) {
  /* line 44, F:/themeforest/HTML/scss/_portfolio.scss */
  .portfolio_area
    .single_portfolio
    .portfolio_content
    .portfolio_content_right {
    margin-top: 10px;
  }
}

/* line 55, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_area .load_more {
  border-top: 1px solid #2e2e2e;
  padding-top: 60px;
}

/* line 60, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area {
  background: #0c0c0c;
  padding-top: 100px;
  margin: 80px 50px 0 50px;
}

@media (max-width: 1199.98px) {
  /* line 60, F:/themeforest/HTML/scss/_portfolio.scss */
  .portfolio_gallery_area {
    margin: 0;
    padding-top: 150px;
  }
}

/* line 68, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .row .col-md-6:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 575.98px) {
  /* line 68, F:/themeforest/HTML/scss/_portfolio.scss */
  .portfolio_gallery_area .row .col-md-6:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* line 74, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery {
  position: relative;
  overflow: hidden;
}

/* line 77, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery .gallery_thumb {
  position: relative;
}

/* line 79, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery .gallery_thumb img {
  width: 100%;
  transition: 0.3s;
  transform: scale(1);
}

/* line 85, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery .gallery_hover {
  position: absolute;
  left: 0;
  top: -5px;
  background: rgba(0, 0, 0, 0.8);
  bottom: -5px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/* line 99, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery .gallery_hover .gallery_hover_inner {
  max-width: 300px;
  text-align: center;
}

@media (max-width: 575.98px) {
  /* line 99, F:/themeforest/HTML/scss/_portfolio.scss */
  .portfolio_gallery_area .single_gallery .gallery_hover .gallery_hover_inner {
    padding: 15px;
  }
}

/* line 105, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery .gallery_hover .gallery_hover_inner h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ececec;
  margin-bottom: 12px;
}

/* line 111, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery .gallery_hover .gallery_hover_inner p {
  font-size: 14px;
  line-height: 28px;
  color: #bebebe;
}

/* line 119, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery:hover .gallery_hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* line 125, F:/themeforest/HTML/scss/_portfolio.scss */
.portfolio_gallery_area .single_gallery:hover .gallery_thumb img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform: scale(1.1);
}

/* ---------------------------------- blog ---------------------------------- */
/* line 1, F:/themeforest/HTML/scss/_blog.scss */
.blog_area {
  background: #0c0c0c;
  padding: 100px 0 100px 0;
  margin: 80px 50px 0 50px;
}

@media (max-width: 1199.98px) {
  /* line 1, F:/themeforest/HTML/scss/_blog.scss */
  .blog_area {
    margin: 0;
    padding-top: 150px;
  }
}

/* line 9, F:/themeforest/HTML/scss/_blog.scss */
.blog_area .single_blog {
  display: grid;
  grid-template-columns: 220px auto;
  grid-gap: 40px;
  border: 1px solid #2e2e2e;
  padding: 20px;
  align-items: center;
}

@media (max-width: 575.98px) {
  /* line 9, F:/themeforest/HTML/scss/_blog.scss */
  .blog_area .single_blog {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* line 19, F:/themeforest/HTML/scss/_blog.scss */
.blog_area .single_blog:not(:last-child) {
  margin-bottom: 50px;
}

/* line 23, F:/themeforest/HTML/scss/_blog.scss */
.blog_area .single_blog .blog_thumb img {
  width: 100%;
}

/* line 28, F:/themeforest/HTML/scss/_blog.scss */
.blog_area .single_blog .blog_content h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ececec;
  margin-bottom: 0;
}

/* line 33, F:/themeforest/HTML/scss/_blog.scss */
.blog_area .single_blog .blog_content h4:hover {
  color: #34d196;
}

/* line 37, F:/themeforest/HTML/scss/_blog.scss */
.blog_area .single_blog .blog_content p {
  font-size: 14px;
  line-height: 28px;
  color: #bebebe;
  margin-bottom: 24px;
  margin-top: 13px;
}

/* line 48, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area {
  background: #0c0c0c;
  padding-top: 100px;
  margin: 80px 50px 0 50px;
}

@media (max-width: 1199.98px) {
  /* line 48, F:/themeforest/HTML/scss/_blog.scss */
  .blog_details_area {
    margin: 0;
    padding-top: 150px;
  }
}

/* line 57, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area .blog_details_banner img {
  width: 100%;
}

/* line 63, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area .blog_details_info .blog_details_title h3 {
  font-size: 30px;
  font-weight: 500;
  color: #ececec;
  margin-bottom: 5px;
}

/* line 69, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area .blog_details_info .blog_details_title p {
  font-size: 14px;
  font-weight: 400;
  color: #bebebe;
}

/* line 75, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area .blog_details_info .blog_details_content {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 78, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area .blog_details_info .blog_details_content p {
  font-size: 16px;
  color: #bebebe;
  margin-bottom: 10px;
}

/* line 84, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area .blog_details_info .single_details_info {
  margin-bottom: 20px;
}

/* line 86, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area .blog_details_info .single_details_info h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #ececec;
  margin-bottom: 12px;
}

/* line 93, F:/themeforest/HTML/scss/_blog.scss */
.blog_details_area .blog_details_info .single_details_info p {
  font-size: 16px;
  color: #bebebe;
  line-height: 28px;
}

/* line 102, F:/themeforest/HTML/scss/_blog.scss */
.blog_quick_social_links {
  border-top: 1px solid #2e2e2e;
  padding-top: 30px;
  margin-top: 55px;
  text-align: center;
}

/* line 108, F:/themeforest/HTML/scss/_blog.scss */
.blog_quick_social_links ul li {
  display: inline-block;
}

@media (max-width: 575.98px) {
  /* line 108, F:/themeforest/HTML/scss/_blog.scss */
  .blog_quick_social_links ul li {
    margin-bottom: 15px;
    margin-left: 12px;
  }
}

/* line 114, F:/themeforest/HTML/scss/_blog.scss */
.blog_quick_social_links ul li:not(:last-child) {
  margin-right: 12px;
}

/* line 117, F:/themeforest/HTML/scss/_blog.scss */
.blog_quick_social_links ul li a {
  background: #3b5998;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  padding: 11px 25px 10px 25px;
  font-size: 12px;
}

/* line 126, F:/themeforest/HTML/scss/_blog.scss */
.blog_quick_social_links ul li a i {
  margin-right: 7px;
}

/* line 129, F:/themeforest/HTML/scss/_blog.scss */
.blog_quick_social_links ul li a.twitter_bg {
  background: #1da1f2;
}

/* line 132, F:/themeforest/HTML/scss/_blog.scss */
.blog_quick_social_links ul li a.linkedin_bg {
  background: #0077b5;
}

/* ---------------------------------- service ---------------------------------- */
/* line 1, F:/themeforest/HTML/scss/_service.scss */
.service_container {
  margin: 80px 50px 0 50px;
  background: #0c0c0c;
}

@media (max-width: 1199.98px) {
  /* line 1, F:/themeforest/HTML/scss/_service.scss */
  .service_container {
    margin: 0;
    padding-top: 50px;
  }
}

/* line 9, F:/themeforest/HTML/scss/_service.scss */
.service_area {
  background: #0c0c0c;
  padding-top: 100px;
}

/* line 12, F:/themeforest/HTML/scss/_service.scss */
.service_area .single_service {
  padding: 50px;
  border: 1px solid #2e2e2e;
  cursor: e-resize;
}

/* line 16, F:/themeforest/HTML/scss/_service.scss */
.service_area .single_service .service_icon {
  width: 23px;
}

/* line 18, F:/themeforest/HTML/scss/_service.scss */
.service_area .single_service .service_icon img {
  width: 100%;
}

/* line 22, F:/themeforest/HTML/scss/_service.scss */
.service_area .single_service h3 {
  font-size: 20px;
  font-weight: 500;
  color: #ececec;
  margin: 26px 0 15px 0;
}

/* line 28, F:/themeforest/HTML/scss/_service.scss */
.service_area .single_service p {
  font-size: 14px;
  font-weight: 400;
  color: #bebebe;
  line-height: 28px;
}

/* line 38, F:/themeforest/HTML/scss/_service.scss */
.prising_area {
  background: #0c0c0c;
}

/* line 40, F:/themeforest/HTML/scss/_service.scss */
.prising_area .single_pricing {
  border: 1px solid #2e2e2e;
  padding: 40px 30px 40px 50px;
  margin-bottom: 30px;
  transition: 0.3s;
}

/* line 45, F:/themeforest/HTML/scss/_service.scss */
.prising_area .single_pricing .badge {
  display: inline-block;
  background: #2e2e2e;
  border-radius: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 6px 21px;
  margin-bottom: 15px;
}

/* line 56, F:/themeforest/HTML/scss/_service.scss */
.prising_area .single_pricing h3 {
  font-size: 30px;
  color: #34d196;
  font-weight: 500;
}

/* line 61, F:/themeforest/HTML/scss/_service.scss */
.prising_area .single_pricing .prise_list {
  margin-top: 28px;
  margin-bottom: 34px;
}

/* line 64, F:/themeforest/HTML/scss/_service.scss */
.prising_area .single_pricing .prise_list li {
  font-size: 14px;
  color: #bebebe;
  line-height: 28px;
}

/* line 68, F:/themeforest/HTML/scss/_service.scss */
.prising_area .single_pricing .prise_list li:not(:last-child) {
  margin-bottom: 4px;
}

/* line 73, F:/themeforest/HTML/scss/_service.scss */
.prising_area .single_pricing:hover {
  border-color: #34d196;
}

/* line 80, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area {
  background: #0c0c0c;
}

/* line 82, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .owl-carousel .owl-nav div {
  top: auto;
  bottom: 11px;
}

/* line 87, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .single_tesmonial .quote_icon {
  width: 46px;
}

/* line 89, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .single_tesmonial .quote_icon img {
  width: 100%;
}

/* line 93, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .single_tesmonial .review_text {
  font-size: 18px;
  font-weight: 200;
  color: #ffffff;
  line-height: 36px;
  margin-top: 24px;
  margin-bottom: 52px;
}

/* line 103, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .single_tesmonial .reviewer_info .thumb {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

/* line 108, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .single_tesmonial .reviewer_info .thumb img {
  width: 100%;
}

/* line 112, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .single_tesmonial .reviewer_info p {
  font-size: 14px;
  font-weight: 400;
  color: #bebebe;
  margin-bottom: 0;
}

/* line 117, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .single_tesmonial .reviewer_info p .reviewer_name {
  font-size: 14px;
  color: #bebebe;
  font-weight: 500;
  text-transform: capitalize;
}

/* line 123, F:/themeforest/HTML/scss/_service.scss */
.testmonial_area .single_tesmonial .reviewer_info p .dots_icon {
  margin: 0 10px;
  display: inline-block;
}

/* ---------------------------------- contact---------------------------------- */
/* line 1, F:/themeforest/HTML/scss/_contact.scss */
.contact_area {
  background: #0c0c0c;
  padding: 100px 0 70px 0;
  margin: 80px 50px 0 50px;
}

@media (max-width: 1199.98px) {
  /* line 1, F:/themeforest/HTML/scss/_contact.scss */
  .contact_area {
    margin: 0;
    padding-top: 150px;
  }
}

/* line 9, F:/themeforest/HTML/scss/_contact.scss */
.contact_area .message_box {
  margin-bottom: 30px;
}

/* line 12, F:/themeforest/HTML/scss/_contact.scss */
.contact_area .contact_info {
  margin-bottom: 30px;
}

/* line 14, F:/themeforest/HTML/scss/_contact.scss */
.contact_area .contact_info .address_list {
  margin-top: 12px;
  margin-bottom: 32px;
}

/* line 17, F:/themeforest/HTML/scss/_contact.scss */
.contact_area .contact_info .address_list p {
  font-size: 16px;
  line-height: 28px;
  color: #bebebe;
}

/* line 21, F:/themeforest/HTML/scss/_contact.scss */
.contact_area .contact_info .address_list p:not(:last-child) {
  margin-bottom: 10px;
}

/* line 24, F:/themeforest/HTML/scss/_contact.scss */
.contact_area .contact_info .address_list p span {
  font-weight: 500;
  color: #ececec;
}

/* line 30, F:/themeforest/HTML/scss/_contact.scss */
.contact_area .contact_info .social_media_links2 {
  margin-bottom: 50px;
}

/* line 33, F:/themeforest/HTML/scss/_contact.scss */
.contact_area .contact_info #contact-map {
  height: 253px;
}

/* line 40, F:/themeforest/HTML/scss/_contact.scss */
.common-input {
  border: 1px solid #2e2e2e !important;
  border-radius: 4px;
  height: 50px;
  color: #ececec;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 15px;
  background: transparent !important;
  box-shadow: none !important;
}

/* line 50, F:/themeforest/HTML/scss/_contact.scss */
.common-input::placeholder {
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  color: #ececec !important;
}

/* line 56, F:/themeforest/HTML/scss/_contact.scss */
.common-input:focus {
  color: #ececec !important;
}

/* line 60, F:/themeforest/HTML/scss/_contact.scss */
textarea.common-textarea {
  border: 1px solid #2e2e2e !important;
  border-radius: 4px;
  height: 50px;
  color: #ececec;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 15px;
  background: transparent !important;
  box-shadow: none !important;
  height: 185px;
}

/* line 71, F:/themeforest/HTML/scss/_contact.scss */
textarea.common-textarea::placeholder {
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  color: #ececec !important;
}

/* line 77, F:/themeforest/HTML/scss/_contact.scss */
textarea.common-textarea:focus {
  color: #ececec !important;
}

.text::selection {
  background: none;
  color: green;
}

/*# sourceMappingURL=style.css.map */
